<div class="col-1 d-flex flex-column text-center align-items-center">
    <a href="#"><i class="bi bi-chevron-up upvote"></i></a>
    <p class="lead">{{likes}}</p>
    <a href="#"><i class="bi bi-chevron-down downvote"></i></a>
</div>