
<div class="row text-center">
    <h1 class="display-1 p-5">Welcome to my Tech Blog</h1>
    {{!-- featured articles --}}
    <div class="col-12 col-lg-9 container justify-content-center align-items-center">
        <section class="accordian" id="accordianMain"></section>
            {{#each articles as |article|}}
            {{> featured-article}}
            {{/each}}
        </section>
    </div>
</div>