* {
    --dark: #222831;
    --medium: #393E46;
    --light: #EEEEEE;
    --highlight: #FFD369;
}

nav {
    background-color: var(--dark);
    color: var(--light);
}

body {
    background-color: var(--medium);
    color: var(--light);
    height: 100vh;
}

footer {
    background-color: var(--dark);

    display: block;

    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg-dark {
    background-color: var(--dark) !important;
    color: var(--light) !important;
}

.bg-medium {
    background-color: var(--medium);
    color: var(--light);
}

.accordion-button::after {
    color: var(--highlight) !important;
}

.nav-item {
    color: var(--light);
}

.nav-item:hover {
    color: var(--highlight);
}